header {
    background: #4a90e2;
    display: flex;
    justify-content: center;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 42px;
    color: #fff;
    min-width: 980px;
    font-size: 14px;
}

.header-container img {
    height: 24px;
}

.header-container span {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container div {
    display: flex;
    align-items: center;
}

.header-container div i {
    margin-left: 8px;
}
